<div class="d-flex justify-content-around">
  <div class="wrapper">
    <div class="mb-3">
      <h3 class="fw-bold text-center">Sign In</h3>
    </div>
    <!-- #region registerform -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-100">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
        />
        <span
          *ngIf="
            registerForm.get('email')?.dirty &&
            registerForm.get('email')?.invalid
          "
        >
          <span
            *ngFor="let error of registerForm.get('email')?.errors | keyvalue"
            >{{ emailErrors[error.key] }}</span
          >
        </span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="enter a strong password"
        />
        <span
          *ngIf="
            registerForm.get('password')?.dirty &&
            registerForm.get('password')?.invalid
          "
        >
          <span
            *ngFor="
              let error of registerForm.get('password')?.errors | keyvalue
            "
            >{{ passwordErrors[error.key] }}</span
          >
        </span>
      </div>
      <div class="mb-3">
        <label for="conpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="conpassword"
          formControlName="confirmPassword"
          placeholder="re-enter your password"
        />
        <span
          *ngIf="
            registerForm.get('confirmPassword')?.dirty &&
            registerForm.get('confirmPassword')?.invalid
          "
        >
          <span
            *ngFor="
              let error of registerForm.get('confirmPassword')?.errors
                | keyvalue
            "
            >{{ confirmPasswordErrors[error.key] }}</span
          >
        </span>
      </div>
      <div class="mb-3">
        <input
          [disabled]="!registerForm.dirty || !registerForm.valid"
          type="submit"
          class="btn btn-success w-100"
          value="Register"
        />
        <div class="w-100 text-end">
          <a routerLink="/login" style="font-size: 14px"
            >Already have an account?</a
          >
        </div>
      </div>
    </form>
    <!-- #endregion -->
    <!-- #region seperator -->
    <div class="row align-items-center mb-3">
      <hr class="col-5 m-0" />
      <div class="col-2 text-center p-0"><b>or</b></div>
      <hr class="col-5 m-0" />
    </div>
    <!-- #endregion -->
    <!-- #region external -->
    <div class="external row justify-content-between">
      <a class="external-btn google col-5 p-0" href="">
        <div class="icon-wrapper">
          <img
            class="icon"
            src="../../../../../assets/images/logo/GoogleLogo.svg"
          />
        </div>
        <p class="btn-text"><b>Sign in with Google</b></p>
      </a>
      <a class="external-btn facebook col-5 p-0" href="">
        <div class="icon-wrapper">
          <img
            class="icon"
            src="../../../../../assets/images/logo/FacebookLogo.svg"
          />
        </div>
        <p class="btn-text"><b>Sign in with Facebook</b></p>
      </a>
    </div>
    <!-- #endregion -->
  </div>
</div>
<app-alert></app-alert>
