.form-control {
  background-color: var(--bg-color);
  color: inherit;
}
.wrapper {
  padding: 10px;
  width: 400px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  box-shadow: 0 0px 8px rgba(128, 128, 128, 0.508);
}
.row {
  margin: 0;
}

/* google styles */
/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2; */
.external {
  --white: #fff;
  --google-blue: #4285f4;

  --facebook-blue: #4267b2;
}
.external-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 184px;
  height: 42px;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google {
  background-color: var(--google-blue);
}
.google:hover {
  box-shadow: 0 0 6px var(--google-blue);
}

.facebook {
  background-color: var(--facebook-blue);
}
.facebook:hover {
  box-shadow: 0 0 6px var(--facebook-blue);
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white);
}
.icon {
  margin: auto;
  /* margin-left: auto; */
  width: 25px;
  height: 25px;
}
.btn-text {
  color: var(--white);
  font-size: 14px;
  margin: 0 3px;
  letter-spacing: 0.2px;
}
