<nav class="navbar navbar-expand-md" style="background-color: var(--bg-color)">
  <!-- style="background-color: whitesmoke" -->
  <div class="container-fluid">
    <a routerLink="/Home">
      <img
        src="{{
          isDark
            ? '../../../../assets/images/logo/logo white black.svg'
            : '../../../../assets/images/logo/logo.svg'
        }}"
        alt="CourseTech Logo"
        width="180"
      />
    </a>
    <!-- #region dark mode button -->
    <a
      title="{{ isDark ? 'switch to light mode' : 'switch to dark mode' }}"
      style="cursor: pointer"
      class="p-2 ms-auto"
      (click)="onChangeMode()"
    >
      <i *ngIf="isDark" class="fa-solid fa-sun" style="color: yellow"></i>
      <i *ngIf="!isDark" class="fa-solid fa-moon" style="color: black"></i>
    </a>
    <!-- #endregion -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end flex-grow-0"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/Home">Home</a>
        <a class="nav-link" routerLink="/Courses">Courses</a>
        <a class="nav-link" routerLink="/Adminstration">Adminstration</a>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">Register</a>
      </div>
    </div>
  </div>
</nav>
