<div class="d-flex justify-content-around">
  <div class="d-flex">
    <div routerLinkActive="active" class="adm-link">
      <a routerLink="Courses">Courses</a>
    </div>
    <div routerLinkActive="active" class="adm-link">
      <a routerLink="Industries">Industries</a>
    </div>
    <div routerLinkActive="active" class="adm-link">
      <a routerLink="Instructors">Instructors</a>
    </div>
    <div routerLinkActive="active" class="adm-link">
      <a routerLink="EmploymentStatuses">Employment Statuses</a>
    </div>
    <div routerLinkActive="active" class="adm-link">
      <a routerLink="ExperienceLevels">Experience Levels</a>
    </div>
  </div>
</div>
<div class="my-4">
  <router-outlet></router-outlet>
</div>
