<footer class="bg-dark py-4">
  <div class="mx-auto" style="width: fit-content">
    <img
      src="../../../../assets/images/logo/logo white black.svg"
      width="250"
    />
  </div>
  <div class="container my-3 py-3" style="border-bottom: 1px solid gray">
    <div class="row">
      <div class="footer-links col-6 col-md-4 d-flex flex-column">
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <a href="">Privacy & Policy</a>
        <a href="">Services</a>
      </div>
      <div class="footer-links col-6 col-md-4 d-flex flex-column">
        <a href="">Help</a>
        <a href="">Support</a>
        <a href="">Terms of services</a>
        <a href="">Resources</a>
      </div>
      <div class="col-12 col-md-4 d-flex flex-row flex-md-column">
        <a class="m-1" href="">
          <img
            width="150"
            src="../../../../assets/images/stores/googlePlay.svg"
            alt="google play"
          />
        </a>
        <a class="m-1" href=""
          ><img
            width="150"
            src="../../../../assets/images/stores/appStore.svg"
            alt="app sotre"
        /></a>
      </div>
    </div>
  </div>
  <div
    class="w-25 m-auto d-flex justify-content-between justify-content-md-evenly"
  >
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-pinterest"></i></a>
  </div>
</footer>
