<div class="d-flex justify-content-around">
  <div class="wrapper">
    <div class="mb-3">
      <h3 class="fw-bold text-center">LogIn</h3>
    </div>
    <!-- #region registerform -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-100">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
        />
        <span
          *ngIf="
            loginForm.get('email')?.dirty && loginForm.get('email')?.invalid
          "
        >
          <span
            *ngFor="let error of loginForm.get('email')?.errors | keyvalue"
            >{{ emailErrors[error.key] }}</span
          >
        </span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="enter a strong password"
        />
        <span
          *ngIf="
            loginForm.get('password')?.dirty &&
            loginForm.get('password')?.invalid
          "
        >
          <span
            *ngFor="let error of loginForm.get('password')?.errors | keyvalue"
            >{{ passwordErrors[error.key] }}</span
          >
        </span>
      </div>
      <div class="mb-3">
        <input
          [disabled]="!loginForm.dirty || !loginForm.valid"
          type="submit"
          class="btn btn-success w-100"
          value="Login"
        />
        <div class="w-100 text-end">
          <a routerLink="/register" style="font-size: 14px">Have no account?</a>
        </div>
      </div>
    </form>
    <!-- #endregion -->
  </div>
</div>
<app-alert></app-alert>
