<div class="wrapper">
  <div
    *ngIf="isLoading; else data"
    class="loadingio-spinner-rolling-7o0btgck97g"
  >
    <div class="ldio-x25i5wvdi4">
      <div></div>
    </div>
  </div>
  <ng-template #data>
    <div
      class="image background"
      [style.background-image]="
        course?.imageName
          ? 'url(' + course?.imageName + ')'
          : 'url(../../../../assets/images/others/no-image.jpg)'
      "
    ></div>
    <div class="content p-3">
      <p class="fw-bold m-0">
        <a routerLink="">{{ course?.industry?.name }} </a>
        <i class="fa fa-angle-right"></i>
        {{ course?.title }}
      </p>
      <!-- #region course data-->
      <h1 class="fw-bold">{{ course?.title }}</h1>
      <div class="pb-2">
        <div *ngFor="let point of course?.description?.split('.')">
          <p class="my-1" *ngIf="point != ''">{{ point }}.</p>
        </div>
      </div>

      <div>
        <p>
          <i class="fa-regular fa-calendar"></i>
          <span class="mx-2" style="color: var(--maincolor)">
            Published at {{ course?.date }}</span
          >
        </p>
        <p>
          <i class="fa-regular fa-clock"></i>
          <span class="mx-2" style="color: var(--maincolor)">
            Course Length {{ course?.duration }}</span
          >
        </p>
      </div>
      <!-- #endregion -->

      <!-- #region instructor-->
      <div class="d-flex">
        <div
          title="course instructor"
          class="image instructor-image"
          [style.background-image]="
            course?.instructor?.photoName
              ? 'url(' + course?.instructor?.photoName + ')'
              : 'url(../../../../assets/images/others/no-image.jpg)'
          "
        ></div>
        <div class="d-flex flex-column justify-content-center mx-3">
          <h5 class="fw-bold m-0">
            {{ course?.instructor?.firstName }}
            {{ course?.instructor?.lastName }}
          </h5>
          <p style="font-size: smaller" class="m-0">
            {{ course?.instructor?.email }}
          </p>
          <p style="font-style: italic; font-size: smaller" class="m-0 fw-bold">
            {{ course?.instructor?.bio }}
          </p>
        </div>
      </div>
      <!-- #endregion -->
      <hr />
      <!-- #region related courses -->
      <div>
        <h2>Related Courses</h2>
        <div class="row">
          <div
            class="col-6 col-md-4 col-lg-3"
            *ngFor="let course of course?.industry?.courses"
          >
            <div class="card" style="border: 1px solid var(--border-color)">
              <div
                class="image related-course"
                [routerLink]="'/Course/' + course.courseId"
                [style.background-image]="
                  course?.imageName
                    ? 'url(' + course?.imageName + ')'
                    : 'url(../../../../assets/images/others/no-image.jpg)'
                "
              ></div>
              <div
                class="card-body p-2"
                style="
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                  background-color: var(--bg-color);
                "
              >
                <h5 class="fw-bold">
                  <a
                    style="color: var(--maincolor)"
                    [routerLink]="'/Course/' + course.courseId"
                    >{{ course.title }}</a
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #endregion -->
      <hr />
      <!-- #region instructor courses -->
      <div>
        <h2>Instructor Courses</h2>
        <div class="row">
          <div
            class="col-6 col-md-4 col-lg-3"
            *ngFor="let course of course?.instructor?.courses"
          >
            <div class="card" style="border: 1px solid var(--border-color)">
              <div
                class="image related-course"
                [routerLink]="'/Course/' + course.courseId"
                [style.background-image]="
                  course?.imageName
                    ? 'url(' + course?.imageName + ')'
                    : 'url(../../../../assets/images/others/no-image.jpg)'
                "
              ></div>
              <div
                class="card-body p-2"
                style="
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                  background-color: var(--bg-color);
                "
              >
                <h5 class="fw-bold">
                  <a
                    style="color: var(--maincolor)"
                    [routerLink]="'/Course/' + course.courseId"
                    >{{ course.title }}</a
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #endregion -->
    </div>
  </ng-template>
</div>
